.search-form {
    background: gainsboro;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-left: .5rem;
    margin: 0;
    padding-top: 0;
}

i {
    margin-right: .5rem;
    font-size: 1.25rem;
}